//Dark Theme
/*
$background: #3b3b3b;
$colourMainLight: #4497d3;
$colourMain: #0077ca;
$colourMainDark: #004c99;
$main-background: #000000;
$main-border:#000000;
$main-text-colour: #dadada;
*/

//Light Theme 
$background: #ffffff;
$colourMainLight: #4497d3;
$colourMain: #0077ca;
$colourMainDark: #004c99;
$main-background: #f0f0f0;
$main-border:#c9c9c9;
$main-text-colour: #000000;
